@use "@neetly/ui";

.link {
  all: unset;
  display: block;
  user-select: none;
  cursor: pointer;
}

.item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: ui.$color-primary-surface;
  transition: background-color 150ms;

  @media (max-width: 40rem) {
    margin: 0 -1rem;
    padding: 1.5rem 1rem;
    border-radius: 0;
  }

  @media (hover: hover) {
    .link:hover & {
      background-color: ui.$color-primary-surface-accent;
    }
  }

  .link:active & {
    background-color: ui.$color-primary-surface-accent;
  }

  .link:focus-visible & {
    outline: 2px solid ui.$color-primary;
    background-color: ui.$color-primary-surface-accent;
  }
}

.name {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2;
  color: ui.$color-primary;
}

.linkIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 -0.25rem;
  fill: ui.$color-primary;
}
