@use "@neetly/ui";

.textField {
  all: unset;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  user-select: auto;
  caret-color: ui.$color-primary;
  background-color: ui.$color-overlay-01;
  transition: background-color 150ms;

  &::placeholder {
    color: ui.$color-neutral-variant-dim;
  }

  @include ui.hover {
    background-color: ui.$color-overlay-02;
  }

  @include ui.focus {
    outline: 2px solid ui.$color-primary;
    outline-offset: 2px;
    background-color: ui.$color-overlay-02;
  }

  &:disabled {
    opacity: 0.5;
  }
}
