@use "@neetly/ui";

.container {
  display: inline-grid;
  grid-template-rows: auto 1fr;
  user-select: none;
  transition: opacity 150ms;

  &[data-disabled] {
    opacity: 0.5;
  }
}

.label {
  @include ui.typography-ui(0.875rem, semibold);

  color: ui.$color-neutral-variant;
  transition: color 150ms, transform 150ms;

  .container:focus-within & {
    color: ui.$color-primary;
    transform: translateY(-2px);
  }
}

.content {
  position: relative;
  display: grid;

  &::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: calc(0.5rem + 2px);
    box-shadow: 0 0 0 2px ui.$color-primary;
    pointer-events: none;
    transition: opacity 150ms;
  }

  &:not(:focus-within)::before {
    opacity: 0;
  }
}

.textField {
  all: unset;

  position: relative;
  min-height: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  @include ui.typography-ui(1rem, medium);

  user-select: auto;
  cursor: text;
  color: ui.$color-neutral-variant-accent;
  caret-color: ui.$color-primary;
  background-color: ui.$color-primary-overlay-01;
  transition: background-color 150ms;

  &[data-icon-before] {
    padding-left: 2.5rem;
  }

  &[data-icon-after] {
    padding-right: 2.5rem;
  }

  &::placeholder {
    color: ui.$color-neutral-variant-dim;
  }

  @include ui.hover {
    background-color: ui.$color-primary-overlay-02;
  }

  &:focus {
    background-color: ui.$color-primary-overlay-02;
  }

  &:disabled {
    cursor: default;
  }
}

.iconBefore,
.iconAfter {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  fill: ui.$color-neutral-variant-accent;
  pointer-events: none;
}

.iconBefore {
  left: 0.5rem;
  top: 0.5rem;
}

.iconAfter {
  right: 0.5rem;
  top: 0.5rem;
}
