@use "@neetly/ui";

.container {
  display: inline-grid;
  grid-template-rows: auto 1fr;
  user-select: none;

  &[data-disabled] {
    opacity: 0.5;
  }
}

.label {
  @include ui.typography-ui(0.875rem, 600);

  color: ui.$color-neutral-variant;
  transition: color 150ms, transform 150ms;

  .container:focus-within & {
    color: ui.$color-primary;
    transform: translateY(-2px);
  }
}

.textFieldWrapper {
  position: relative;
  display: grid;

  &::before {
    content: "";
    grid-area: 1 / 1;
    margin: -4px;
    border-radius: calc(0.5rem + 4px);
    box-shadow: inset 0 0 0 2px ui.$color-primary;
    pointer-events: none;
    transition: opacity 150ms;
  }

  &:not(:focus-within)::before {
    opacity: 0;
  }
}

.textField {
  all: unset;

  position: relative;
  grid-area: 1 / 1;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  @include ui.typography-ui(1rem);

  user-select: auto;
  cursor: text;
  color: ui.$color-on-background;
  caret-color: ui.$color-primary;
  background-color: ui.$color-overlay-01;
  transition: background-color 150ms;

  &::placeholder {
    color: ui.$color-neutral-variant-dim;
  }

  @include ui.hover {
    background-color: ui.$color-overlay-02;
  }

  &:focus {
    background-color: ui.$color-overlay-02;
  }

  &:disabled {
    cursor: default;
  }
}
