# npm

/node_modules/
/packages/*/node_modules/

# Yarn

/.yarn/

/.pnp.*

# Python

**/__pycache__/

# Artifacts

/packages/*/package.tgz
/packages/*/LICENSE
/packages/*/tsconfig.tsbuildinfo
/packages/*/lib/
/packages/*/build/
/packages/*/storybook-static/
