@use "@neetly/palette";

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.groupName {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1rem;
  color: palette.$neutral-variant--800;
}

.groupColors {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
