@use "@neetly/ui";

.button {
  all: unset;

  position: relative;
  display: inline-grid;
  border-radius: 0.5rem;

  @include ui.typography-ui(1rem, 600);

  user-select: none;
  cursor: pointer;
  transition: background-color 150ms, transform 150ms;

  @include ui.active {
    transform: scale(0.95);
    transition: none;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.button:where([data-variant="default"]) {
  &:where([data-color="primary"]) {
    color: ui.$color-primary;
    background-color: ui.$color-primary-overlay-01;
    @include ui.hover {
      background-color: ui.$color-primary-overlay-02;
    }
  }

  &:where([data-color="secondary"]) {
    color: ui.$color-secondary;
    background-color: ui.$color-secondary-overlay-01;
    @include ui.hover {
      background-color: ui.$color-secondary-overlay-02;
    }
  }

  &:where([data-color="tertiary"]) {
    color: ui.$color-tertiary;
    background-color: ui.$color-tertiary-overlay-01;
    @include ui.hover {
      background-color: ui.$color-tertiary-overlay-02;
    }
  }
}

.button:where([data-variant="primary"]) {
  &::before {
    content: "";
    grid-area: 1 / 1;
    border-radius: inherit;
    pointer-events: none;
    transition: background-color 150ms;
  }

  @include ui.hover {
    &::before {
      background-color: ui.$color-overlay-99;
    }
  }

  &:where([data-color="primary"]) {
    color: ui.$color-on-primary;
    background-color: ui.$color-primary;
  }

  &:where([data-color="secondary"]) {
    color: ui.$color-on-secondary;
    background-color: ui.$color-secondary;
  }

  &:where([data-color="tertiary"]) {
    color: ui.$color-on-tertiary;
    background-color: ui.$color-tertiary;
  }
}

.button:where([data-variant="outline"]) {
  box-shadow: inset 0 0 0 2px currentColor;

  &:where([data-color="primary"]) {
    color: ui.$color-primary;
    @include ui.hover {
      background-color: ui.$color-primary-overlay-01;
    }
  }

  &:where([data-color="secondary"]) {
    color: ui.$color-secondary;
    @include ui.hover {
      background-color: ui.$color-secondary-overlay-01;
    }
  }

  &:where([data-color="tertiary"]) {
    color: ui.$color-tertiary;
    @include ui.hover {
      background-color: ui.$color-tertiary-overlay-01;
    }
  }
}

.button:where([data-variant="text"]) {
  &:where([data-color="primary"]) {
    color: ui.$color-primary;
    @include ui.hover {
      background-color: ui.$color-primary-overlay-01;
    }
  }

  &:where([data-color="secondary"]) {
    color: ui.$color-secondary;
    @include ui.hover {
      background-color: ui.$color-secondary-overlay-01;
    }
  }

  &:where([data-color="tertiary"]) {
    color: ui.$color-tertiary;
    @include ui.hover {
      background-color: ui.$color-tertiary-overlay-01;
    }
  }
}

.button:where([data-color="primary"]) {
  @include ui.focus-ring(ui.$color-primary);
}

.button:where([data-color="secondary"]) {
  @include ui.focus-ring(ui.$color-secondary);
}

.button:where([data-color="tertiary"]) {
  @include ui.focus-ring(ui.$color-tertiary);
}

.content {
  position: relative;
  grid-area: 1 / 1;
  padding: 0.5rem 1rem;
  border-radius: inherit;
}
