@use "./system.scss" as *;
@use "./properties.scss" as *;
@use "./typography.scss" as *;

@mixin preflight($properties: (), $dark-mode-properties: ()) {
  :root {
    @include provide-properties($properties, $dark-mode-properties);
  }

  html {
    @include typography-ui(100%);

    overflow-wrap: break-word;
    color: $color-on-background;
    background-color: $color-background;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    margin: 0;
  }

  ::selection {
    background-color: $color-selection;
  }
}
