@use "@neetly/theme" as *;

@use "./properties.scss" as *;

@mixin preflight($properties: (), $dark-mode-properties: ()) {
  :root {
    @include provide-properties($properties, $dark-mode-properties);
  }

  html {
    font-family: $font-ui;
    font-size: 16px;
    line-height: 1.4;
    overflow-wrap: break-word;
    color: $color-on-background;
    background-color: $color-background;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    margin: 0;
  }

  ::selection {
    background-color: $color-selection;
  }
}
