@use "@neetly/theme" as *;
@use "@neetly/palette" as *;

@function _($name, $value, $dark-mode-value: null) {
  @return define-property($name, $value, $dark-mode-value);
}

$font-ui: _(font-ui, ("Fieldwork", "Source Han Sans", sans-serif));
$font-headline: _(font-headline, ("Fieldwork", "Source Han Sans", sans-serif));
$font-body: _(font-body, ("Rustica", "Source Han Sans", sans-serif));

$color-background: _(color-background, $neutral--10);
$color-on-background: _(color-on-background, $neutral--900);
