@use "sass:map";

@use "./properties.scss" as *;

$-font-weights: (
  regular: $font-weight-regular,
  medium: $font-weight-medium,
  semibold: $font-weight-semibold,
  bold: $font-weight-bold,
);

@function -get-font-weight($name) {
  $value: map.get($-font-weights, $name);
  @if $value == null {
    @error "Font weight \"#{$name}\" is not defined.";
  }
  @return $value;
}

@mixin typography-ui($font-size, $font-weight: regular) {
  font-family: $font-ui;
  font-size: $font-size;
  font-weight: -get-font-weight($font-weight);
  line-height: $line-height-ui;
}

@mixin typography-headline($font-size, $font-weight: regular) {
  font-family: $font-headline;
  font-size: $font-size;
  font-weight: -get-font-weight($font-weight);
  line-height: $line-height-headline;
}

@mixin typography-body($font-size, $font-weight: regular) {
  font-family: $font-body;
  font-size: $font-size;
  font-weight: -get-font-weight($font-weight);
  line-height: $line-height-body;
}
