@use "sass:color";

@use "@neetly/palette";

.header {
  max-width: 80rem;
  margin: 1rem auto;
  padding: 0 1rem;
}

.logoLink {
  all: unset;
  display: block;
  width: fit-content;
  cursor: pointer;
}

.logo {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  margin: 0 -1rem;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  color: palette.$primary--600;
  transition: background-color 150ms;

  @media (hover: hover) {
    .logoLink:hover & {
      background-color: color.change(palette.$primary--600, $alpha: 0.05);
    }
  }

  .logoLink:active & {
    background-color: color.change(palette.$primary--600, $alpha: 0.05);
  }

  .logoLink:focus-visible & {
    outline: 2px solid palette.$primary--600;
    background-color: color.change(palette.$primary--600, $alpha: 0.05);
  }
}

.logoIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 -0.25rem;
  fill: currentColor;
}

.logoTextIcon {
  height: 1.5rem;
  fill: currentColor;
}
