@use "@neetly/ui";

.dialog {
  position: fixed;
}

.backdrop {
  background-color: ui.$color-backdrop;
  backdrop-filter: blur(2px);
  transition: opacity 150ms;

  &:not([data-enter]) {
    opacity: 0;
  }
}
