@use "@neetly/ui";

.container {
  display: grid;
  place-items: center;
  overflow: auto;
  padding: 2rem;
  background-color: ui.$color-backdrop;
  backdrop-filter: blur(2px);
  transition: opacity 150ms;

  &:not([data-enter]) {
    opacity: 0;
  }

  &[data-leave] {
    pointer-events: none;
  }
}

.dialog {
  position: relative;
  z-index: 1000;
  box-sizing: border-box;
  width: 100%;
  max-width: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: ui.$color-background;
  box-shadow: 0 8px 24px ui.$color-shadow;
  transition: transform 150ms;

  &:focus {
    outline: none;
  }

  &:not([data-enter]) {
    transform: scale(1.01);
  }
}

.closeButton {
  position: absolute;
  inset-block-start: 1rem;
  inset-inline-end: 1rem;
}
