@use "@neetly/ui";

.container {
  display: inline-grid;
  grid-template:
    "label" auto
    "content" 1fr
    "description" auto
    "errorMessage" auto;
}

.label {
  grid-area: label;

  @include ui.typography-ui(0.875rem, semibold);

  color: ui.$color-neutral-variant;
  transition: color 150ms, opacity 150ms, transform 150ms;

  .container:focus-within & {
    color: ui.$color-primary;
    transform: translateY(-2px);
  }

  .container[data-invalid] & {
    color: ui.$color-error;
  }

  .container[data-disabled] & {
    opacity: 0.5;
  }
}

.content {
  grid-area: content;
}

.description {
  grid-area: description;
  margin-top: 0.25rem;

  @include ui.typography-ui(0.875rem);

  color: ui.$color-neutral-variant;
  transition: opacity 150ms;

  .container[data-disabled] & {
    opacity: 0.5;
  }
}

.errorMessage {
  grid-area: errorMessage;
  margin-top: 0.25rem;

  @include ui.typography-ui(0.875rem);

  color: ui.$color-error;
  transition: opacity 150ms;

  .container[data-disabled] & {
    opacity: 0.5;
  }
}
